<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <ul>
    <!--<template v-for="book in filterBooks">-->
    <template v-for="book in sortedBooks">
      <li>书名：{{book.name}}</li>
      <li>作者：{{book.author}}</li>
    </template>
  </ul>
</div>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script>
  var app=new Vue({
      el:'#app',
      data:{
        books:[
          {name:'<vue.js实战>',author:'梁浩'},
          {name:'<javascript语言精粹>',author:'Douglas'},
          {name:'<javascript高级程序设计>',author:'mars'},
        ]
      },
    computed:{
        filterBooks:function () {
          return this.books.filter(function (book) {
            return book.name.match(/javascript/);
          });
        },
        sortedBooks:function () {
          return this.books.sort(function (a,b) {
              return a.name.length<b.name.length;
            }

          );
        }
    }
    }
  );
</script>
</body>
</html>